extends layout

block content
  div.panel.panel-default
    div.panel-body
      each item in experience
        h2= item.title
        h3= item.company
        h4= item.associates
        p= item.time
        p= item.description